asgiref
beautifulsoup4
certifi
charset-normalizer
defusedxml
diff-match-patch
django-bootstrap-icons
django-bootstrap4
bootstrap4
django-import-export
django-javascript-settings
django-jquery
et-xmlfile
fanstatic
idna
js.fullcalendar
js.jquery
js.momentjs
MarkupPy
numpy
odfpy
openpyxl
pandas
Pillow
postgres
psycopg2
psycopg2-binary
psycopg2-pool
python-dateutil
pytz
PyYAML
requests
shutilwhich
six
soupsieve
sqlparse
tablib
Unipath
urllib3
WebOb
xlrd
xlwt
fontawesome-free