{% extends "Base2.html" %} 
{% load static %} 
{% block title %}Pagos | Portal CNE{% endblock title %}
{% block extracontent %}

<div class="container-fluid ">
  
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2><i class="fa-solid fa-circle-dollar-to-slot"></i> Historial de pagos</span>
      </div>
  </div>
  
  {% if datos %} 
  {% for j in datos %}
  <div class="datos">
    
    <div class="card bg-light mb-3 information" style="">
        <div class="container-fluid" style="">
          <div class="" style="">
            <div style="display: flex"  >
            
              <strong><p  class="card-title">Nombre del estudiante:</p></strong>
              <p class="card-text">&nbsp;{{j.apellidos}} {{j.nombre}}</p>
            
            </div>
            <div style="display: flex" >
            
              <strong><p  class="card-title">Código:</strong>
              <p class="card-text">&nbsp; {{j.codigo}}</p>

            </div>
            <div style="display: flex" >
            
              <strong><p  class="card-title">Programa:</strong>
              <p class="card-text">&nbsp; {{j.carrera.programa_name}}</p>
            
            </div>
            
          </div>
        </div>
        
    </div>
  </div>
  {% endfor %}
  {% endif %}



  <div class="card">
    <div class="card-header">
      
      <div class="container-fluid ">
        
        <div class="progreso-content"> <strong >Cumplimiento financiero:</strong></div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progreso}}%">
            {{progreso}} %
          </div>
        </div>
        
      </div>
    </div>

    <div class="card-body">
      <div class="container-fluid" style="">
        <div  class="row">
          <div class="conte">
            <div class ="conteTabla">
              
              {% if datos %} 
              <table id="table_id7"  class="hover" style="width:100%; ">
                <thead>
                  <th>Detalle </th>
                  <th>Código </th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Monto</th>
                  <th>Pagado</th>
                  <th>Acción</th>
                </thead>
                <tbody>
                  {% for i in invoice  %}
                  <tr>
                    {% if i.pagado != "$ 0.00" %}
                    <td class='dt-control' defaultContent="" orderable='false' data= "null" >
                      <input type="hidden" name="funt" id="funt" class="funt" value="{{i.pk}}">
                    </td>
                    {% else %}
                    <td ><span class="nonEstado"><i class="fa-solid fa-circle-xmark"></i></span></td></td>
                    {% endif %}
                    <td >{{i.codigo}}</td>
                    <td >{{i.descripcion}}</td>
                    <td >
                      {% if i.estado.estado == "Pagada"  %}
                      <span class="estado" ><i class="fa-regular fa-circle-check"></i> &nbsp; {{i.estado.estado}} </span>
                      {% elif i.estado.estado == "Abono" %}
                      <span class="iconos"><i class="fa-solid fa-money-bill-wave"></i> &nbsp; {{i.estado.estado}} </span>
                      {% else %}
                      <span class="nonEstado"><i class="fa-solid fa-circle-xmark"></i> &nbsp; {{i.estado.estado}} </span>
                      {% endif %}
                    </td>
                    <td >{{i.monto}}</td>
                    <td >{{i.pagado}}</td>
                    {% if i.pagado == i.monto %}
                    <td class="estado">
                      <i class="fa-regular fa-circle-check"></i>
                    </td>
                    {% else %}
                    <td class="iconos">
                      <a onclick="abrir_modal_general3('{% url 'finance_app:finance-list-invoice-detail-up' i.pk %}')" title="Editar"><i  class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table> 
            {% else %}
            <table id="table_id4"  class="hover" style="width:100%; ">
              <thead >
                <th>Detalle </th>
                <th>Código </th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Monto</th>
                <th>Pagado</th>
                <th>Acción</th>
              </thead>
              <tbody>
                <tr>
                  <td > - </td >
                  <td > - </td >
                  <td > - </td >
                  <td > - </td >
                  <td > - </td >
                  <td > - </td >
                  <td > - </td >
                </tr>
              </tbody>
            </table>   
            {% endif %}
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
    
  </div>

</div>


<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


    
{% endblock extracontent %}


{% block js %}

<script>
$(document).ready(function () {

  var $ = jQuery.noConflict();
  var tabla = $('#table_id7').DataTable({

    language: {
      "decimal": "",
      "emptyTable": "No hay información",
      "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
      "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
      "infoFiltered": "(Filtrado de _MAX_ total entradas)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Items por rango: _MENU_",
      "loadingRecords": "Cargando...",
      "processing": "Procesando...",
      "search": "Buscar:",
      "zeroRecords": "Sin resultados encontrados",
      "paginate": {
        "first": "Primero",
        "last": "Ultimo",
        "next": "Siguiente",
        "previous": "Anterior"
      }
    },
    "columns": [
      { "width": "3%", "className": 'dt-body-center' },
      null,
      null,
      null,
      null,
      null,
      { "width": "3%", "className": 'dt-body-center' },
    ],

  });


  function format(d) {
    // `d` is the original data object for the row
    const f= d.map(function(dat){
      var id = String(dat.pk) + "/'"
      var link="'/finance/finance-list-invoice/detail-sub/" + id;
      var eliminar="'/finance/finance-list-invoice/delete-sub/" + id;
      return (
        
        '<tbody>' +
        '<td>' + dat.consecutivo+'</td>' + '<td>'+ dat.payed +'</td>' +'<td>' + dat.fecha+'</td>' +'<td class="iconos"><a onclick="abrir_modal_general3('+
           link
          +')" title="Editar"><i class="fa-regular fa-eye"></i></a>   <a onclick="abrir_modal_general3('+
          eliminar
         +')" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a> </td>' + 
        '</tbody>'   
      );
    });
    return (
        '<table cellpadding="5" cellspacing="0" class="hover" border="0" style="padding-left:50px;">'+
        '<thead style="color:grey">'+
        '<th>Consecutivo</th>'+ '<th>Valor pagado</th>'+ '<th>Fecha de pago</th>'+'<th>Consulta</th>'+
        '</thead>'+
        f
        +'</table>'
        
         
    );
  }

  
  
 
  tabla.on('click', 'td.dt-control', function () {
    var tr = $(this).closest('tr');
    var row = tabla.row(tr);
    var valor = tr.find('input[name=funt]').val();
    if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    } else {
        // Open this row
      var request = $.ajax({
        type: "GET",
        url: "{% url 'finance_app:finance-invoice-detail-more' %}",
        data: {
            "info": valor,
        },
        
      });
      request.done(function(response) {
        const infor = response.data.map(function(d) {
          return d;
        
      });
      row.child(format(infor)).show();
      tr.addClass('shown');
      });
      
    }
  });


});


function abrir_modal_general3(url) {
  $("#edicion").load(url, function () {
    $(this).modal("show");
  });
}



</script>



{% endblock js %}
