
{% load  static %}


<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><i id="iconos" style="padding-left: 3px" class="fa-solid fa-money-bill"></i> Nuevo pago</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% for i in datos %}
    <div class="modal-body">
      <div id="submenu" style=" height:120px; width:100%; padding: 15px; display: flex">
        <div >
        
          <div style="display: flex" ><h1 class="h6" id="tit">Código de la factura:</h1><h6>&nbsp;{{i.codigo}}</h6></div>
          <div style="display: flex" ><h1 class="h6" id="tit">Valor inicial:</h1><h6>&nbsp;{{i.monto}}</h6></div>
          <div style="display: flex" ><h1 class="h6" id="tit">Valor pagado:</h1><h6>&nbsp;{{i.pagado}}</h6></div>
          <div style="display: flex" ><h1 class="h6" id="tit">Valor pendiente:</h1><h6>&nbsp;{{i.pendiente}}</h6></div>
        
        </div>
        
      </div>
      <div class="linea"></div>
      
      <form  method="POST" id="dataform" action="{% url 'finance_app:finance-list-invoice-sub' %}" style="padding-top: 15px">{% csrf_token %}
        <div id="errores" ></div>
        <input type="hidden" name="facturas" id="facturas" class="accion" value="{{i.codigo}}">
        <input type="hidden" name="pendiente" id="pendiente" class="accion" value="{{i.pendiente2}}">
        {{form.as_p}}
        <div class="modal-footer">
          
        <button type="button" id="button" style="background-color: #405FC9; color: white; border: none" onclick="sendpayment()" >Registrar pago</button>
        <button type="button" class="btn btn-danger"  id="button2" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      {% endfor %}
    </div> 
  </div>
</div>

{% block js %}
<script type="text/javascript">

  function sendpayment() {
    var serializedData = $("#dataform").serialize();
    var pagado = parseFloat(document.getElementById("pagado").value);
    var consecutivo = parseFloat(document.getElementById("consecutivo").value);
    var observaciones = document.getElementById("observacion").value;
    var pendiente = parseFloat(document.getElementById("pendiente").value);


    console.log(consecutivo)
    if (pagado == "" || consecutivo == "" || observaciones == "") {
      mostrarErrorblanco();
    }else if(pagado < 0 || consecutivo < 0){
      Swal.fire({
        "title": "Aún falta algo",
        "text": "El valor a pagar y el consecutivo no pueden ser negativo",
        "icon": "error"
      })
    }else if(pagado > pendiente){
      Swal.fire({
        "title": "Aún falta algo",
        "text": "El valor a pagar no puede ser mayor al saldo pendiente",
        "icon": "error"
      })
    } else {
  
      var request = $.ajax({
        type: 'POST',
        url: "{% url 'finance_app:finance-list-invoice-sub' %}",
        data: serializedData,
        success: function (response) {
          $("#edicion").modal("hide");
          location.reload(true);
          mostrarOkpayments();
        },
        error: function (error) {
          mostrarErroresCreacion2(error);
          mostrarError();
        }
      });
    }
  }
  

</script>

{% endblock js %}
