{% extends "Base2.html" %} {% load static %} 

{% block title %}Inicio | Portal CNE{% endblock title %}


{% block extracontent %}

<!-- Encabezado página -->

<div>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
    >
  </div>

  <!-- Contenido de las filas del encabezado -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    {% for i in dashboard %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Estudiantes Hombres
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{i.hombres}}%
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Estudiantes Mujeres
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{i.mujeres}}%
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Otros
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{i.otros}}%
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Solicitudes pendientes -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Solicitudes pendientes
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Modificar luego
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div id="calendar"></div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Direct
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Social
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Referral
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="edicion"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  ></div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Qué desea hacer con el evento:
          <div id="text"></div>
          <input type="hidden" id="postId" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="enviar1"
            class="btn btn-secondary"
            value="editar"
          >
            Editar
          </button>
          <button
            type="button"
            id="enviar2"
            class="btn btn-primary"
            value="eliminar"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock extracontent %} {% block js %}

<script>

  var $=jQuery.noConflict();
  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
  initialView: 'dayGridMonth',
  headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,listWeek'
  },
  events: [
      {% for evento in eventos %}
      {
        id: '{{ evento.id| safe }}',
        title: '{{ evento.title | safe }}',
        start: '{{ evento.fecha_inicial | safe }}',
        end: '{{ evento.fecha_final | safe }}',
        color: '{{ evento.color | safe }}'
      },
      {% endfor %}
  ],
  eventClick: function(info) {
      $('#exampleModal').modal("show");
      $('#text').text(info.event.title);
      $('#postId').val(info.event.id);

  },
  dateClick: function(info) {
      if (info.allDay) {

          var parametros = {
            url : "{% url 'agenda_app:create-event' %}",
            fecha : info.dateStr
          }
      abrir_modal_edicion(parametros);

  } else{
      let fechaHora = info.dateStr.split("T");
        var parametros = {
          url : "{% url 'agenda_app:create-event' %}",
          fecha_inicio : fechaHora[0],
          fecha_fin: fechaHora[0],
          Hora_inicio: fechaHora[1].substring(0, 5)

      }
      abrir_modal_edicion(parametros);
  }
  }
  });
  calendar.render();

  });
  function abrir_modal_edicion(url) {

      $("#edicion").load(url.url,function(){
          $(this).modal("show");

          if (url.fecha === undefined){
          $('#FechaInicio').val(url.fecha_inicio);
          $('#FechaFin').val(url.fecha_fin);
          $('#hora_inicio').val(url.Hora_inicio);


          }else{
          $('#FechaInicio').val(url.fecha);
          $('#FechaFin').val(url.fecha);

          }



      });
  };

  $('#enviar1').click(function(e){
      var texto1 = $('#enviar1').val();
      var inp = $('#postId').val();
      var url= '/agenda/update-event/' + inp;
      $('#exampleModal').modal('hide');
      $("#edicion").load(url,function(){
          $(this).modal("show");
      });
  });
  $('#enviar2').click(function(e){
      var texto1 = $('#enviar1').val();
      var inp = $('#postId').val();
      var url= '/agenda/delete-event/' + inp;
      $('#exampleModal').modal('hide');
      $("#edicion").load(url,function(){
          $(this).modal("show");
      });
  });
</script>

{% endblock js %}
