{% extends "Base2.html" %} {% load static %}

{% block title %}Perfil | Portal CNE{% endblock title %}
{% block extracontent %}

{% if request.user.tipe.rol == "Estudiante" %}
{% for i in consulta %}

<div class="container-fluid personal">
  <div class="card">
    <div class="card-header">
      <div class="titulo">
        Tu información personal
      </div>
      <div class="comentarios">
        Se compone de todos los datos recogidos al momento de tu matrícula, si necesitas alguna modificación por favor comunicate con la administración.
      </div>
    </div>


    <div class="card-body" style="display:flex">
      <div class="col">
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-solid fa-signature"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Nombre completo
            </div>
            <div class="personal-text-text-origin">
              {{ i.nombres}} {{ i.apellidos}}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Correo electrónico
            </div>
            <div class="personal-text-text-origin">
              {{ i.email}}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-solid fa-person"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Nombre del acudiente
            </div>
            <div class="personal-text-text-origin">
              {{ i.nombre_acudiente }} {{ i.apellidos_acudiente }}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Teléfono del acudiente
            </div>
            <div class="personal-text-text-origin">
              {{ i.telefono_acudiente }}
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="col">
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-address-card"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Código:
            </div>
            <div class="personal-text-text-origin">
              {{ i.codigo }}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Tipo de usuario
            </div>
            <div class="personal-text-text-origin">
              Estudiante
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Fecha de creación
            </div>
            <div class="personal-text-text-origin">
              {{ i.fecha_reg }}
            </div>
          </div>
        </div>
        
      </div>
    </div>


  </div>
</div>
{% endfor %}
{% elif request.user.tipe.rol == "Docente" %}
{% for i in consulta %}

<div class="container-fluid personal">
  <div class="card">
    <div class="card-header">
      <div class="titulo">
        Tu información personal
      </div>
      <div class="comentarios">
        Se compone de todos los datos recogidos al momento de crear tu usuario en el sistema, si necesitas alguna modificación por favor comunicate con la administración.
      </div>
    </div>


    <div class="card-body" style="display:flex">
      <div class="col">
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-address-card"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Código:
            </div>
            <div class="personal-text-text-origin">
              {{ i.codigo }}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-solid fa-signature"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Nombre completo
            </div>
            <div class="personal-text-text-origin">
              {{ i.nombres}} {{ i.apellidos}}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Correo electrónico
            </div>
            <div class="personal-text-text-origin">
              {{ i.email}}
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="col">
        
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Tipo de usuario
            </div>
            <div class="personal-text-text-origin">
              Docente
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Fecha de creación
            </div>
            <div class="personal-text-text-origin">
              {{ i.fecha_reg }}
            </div>
          </div>
        </div>
        
      </div>
    </div>


  </div>
</div>
{% endfor %}
{% else %}
{% for i in consulta %}
<div class="container-fluid personal">
  <div class="card">
    <div class="card-header">
      <div class="titulo">
        Tu información personal
      </div>
      <div class="comentarios">
        Se compone de todos los datos recogidos al momento de crear tu usuario en el sistema, si necesitas alguna modificación por favor comunicate con la administración.
      </div>
    </div>


    <div class="card-body" style="display:flex">
      <div class="col">
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-solid fa-signature"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Nombre completo
            </div>
            <div class="personal-text-text-origin">
              {{ i.nombres}} {{ i.apellidos}}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Correo electrónico
            </div>
            <div class="personal-text-text-origin">
              {{ i.email}}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Usuario
            </div>
            <div class="personal-text-text-origin">
              {{ i.username }}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-address-card"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Código:
            </div>
            <div class="personal-text-text-origin">
              {{ i.codigo }}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Tipo de usuario
            </div>
            <div class="personal-text-text-origin">
              {{ i.tipe }}
            </div>
          </div>
        </div>
        <div class="personal-general">
          <div class="personal-icon text-center align-self-center">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="personal-text">
            <div class="personal-text-text">
              Fecha de creación
            </div>
            <div class="personal-text-text-origin">
              {{ i.created_at }}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endfor %}
{% endif %}



{% endblock extracontent %}