
{% extends "base.html" %}
{% load  static %}

{% block content %}
<form  method="post">{% csrf_token %}
    {{form.as_p}}
    <button type="submit">Registrar Materia</button>
    <button><a href="{% url 'academico_app:list-topic' %}"> Volver</a></button>
</form>
{% endblock content %}



{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#carrera").on("change", getPensum);
    });
    $(document).ready(function() {
        $("#pensum_asig").on("change", getMaterias);
    });

    function getMaterias() {
        var materiaid = $("#pensum_asig").val();
        if (materiaid) {
            // Eliminamos las opciones anteriores del select
            $("#materia").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'academico_app:update-pensum' %}",
                data: {
                    "materia": materiaid,
                },
                success:  function (response) {
                    $("#materia").html(response.materia);
                    }
            });
            request.done(function(response) {
                // Agregamos los resultados al select
                $("#materia").html(response.materia);
            });
        } else {
            $("#materia").html("<option value='' selected='selected'>---------</option>");
        }
    }



    function getPensum() {
        var estadoId = $("#carrera").val();
        if (estadoId) {
            // Eliminamos las opciones anteriores del select
            $("#pensum_asig").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'academico_app:update-pensum' %}",
                data: {
                    "estado_id": estadoId,
                },
                success:  function (response) {
                    $("#pensum_asig").html(response.malla);
                    }
            });
            request.done(function(response) {
                // Agregamos los resultados al select
                $("#pensum_asig").html(response.malla);
            });
        } else {
            $("#pensum_asig").html("<option value='' selected='selected'>---------</option>");
        }
    }    

    
</script>
{% endblock js %}