


{% load  static %}

<div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"> <i  class="fa-solid fa-user-minus"></i> Eliminación de docente</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form  method="POST" id="dataGeneralForm" action="{% url 'academico_app:delete-teacher' object.pk %}">{% csrf_token %}
            <div class="cell medium-7">
                <div >
                    <div >
                        <h6>Desea eliminar a:</h6>  
                      <h6>{{ object.nombres }}, {{ object.apellidos }}</h6>
                      
                      <input type="hidden" name="codigo" id="codigo" class="codigo" value="{{object.codigo}}">
                    </div>
                </div>
            </div>
          <div class="modal-footer">
          <button type="submit" id="button2" class="btn btn-primary" >Eliminar docente</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
         </form>
      </div> 
    </div>
  </div>