
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-chalkboard-user" id="iconos" style="padding-left: 3px"></i> <h1 class="h4" id="tit">&nbsp; 
          {{ object.nombres }}&nbsp;{{ object.apellidos }}</h1> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          {% csrf_token %}
          <table class="table table-striped">
              <tbody>
                  <tr>
                    <th scope="row">T. Documento:</th>
                    <td>{{ object.tDocument }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Identificación:</th>
                    <td>{{ object.codigo }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Teléfono:</th>
                    <td>{{ object.telefono }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Dirección:</th>
                    <td>{{ object.direccion }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fecha de Nacimiento:</th>
                    <td>{{ object.nacimiento}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Correo:</th>
                    <td>{{ object.email}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sexo:</th>
                    
                    {% if object.sexo == 'M' %}
                       <td>Masculino</td>
                    {% else %}
                      <td>Femenino</td> 
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Usuario:</th>
                    <td>{{ object.username }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Creado desde:</th>
                    <td>{{ object.fecha_reg }}</td>
                  </tr>
                  
              </tbody>
          </table>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  id="button" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
  </div>