{% extends "Base2.html" %}
{% load  static %}

{% block title %}Docentes | Portal CNE{% endblock title %}

{% block extracontent %}


<div class="container-fluid ">
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2><i class="fa-solid fa-chalkboard-user icon"></i> Docentes</h2></span>
      </div>
      
  </div>
  <div class="datos">
    <div class="card text-center total " >
      
      <div class="card-body ">
        <h1 class="card-title">{{todos}}</h1>
      </div>
      <div class="card-footer">Total docentes</div>
    </div>
    <div class="card text-center  activos">
      
      <div class="card-body ">
        <h1 class="card-title">{{activos}}</h1>
      </div>
      <div class="card-footer">Activos</div>
    </div>
    <div class="card text-center  inactivos">
      
      <div class="card-body ">
        <h1 class="card-title">{{inactivos}}</h1>
      </div>
      <div class="card-footer">Inactivos</div>
    </div>
    
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        
        <div class="col-5 filtro">
          <span class="text nav-text">Filtrar por:</span>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="todos" onchange="window.location.href='?order=todos'">
            <label class="form-check-label" for="todos">
              Todos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="activos" onchange="window.location.href='?order=activos'">
            <label class="form-check-label" for="activos">
              Activos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="inactivos" onchange="window.location.href='?order=inactivos'">
            <label class="form-check-label" for="inactivos">
              Inactivos
            </label>
          </div>
          
        </div>
        <div class="col-7 boton">
          <button  type="button" title="Crear docente" class="btn btn-sm" onclick="abrir_modal_general('{% url 'academico_app:create-teacher' %}')">
            <a >
              <i class="fa-solid fa-user-plus fa-lg"></i>
              &nbsp; Crear docente
            </a>
          </button>
        </div>
      </div>
    </div>


    <div class="card-body">
        <div class="container-fluid" style="">
          <div  class="row">
            <div class="conte">
              <div class ="conteTabla">


                {% if teacher %}
                  <table id="table_id2"  class="hover" style="width:100%; ">
                    <thead >
                      <th>Salones </th>
                      <th>Nro. Documento</th>
                      <th>Nombre del Docente</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </thead>
                    <tbody>
                      {% for teach in teacher %}
                      <tr>
                        {% if teach.estado  %}
                        <td ><a href="{% url 'academico_app:topic-list' teach.pk %}" title="Consultar" ><i class="fa-solid fa-magnifying-glass estado" ></i></a></td>
                        {% else %}
                        <td ><a href="#" title="Consultar" ><i class="fa-solid fa-magnifying-glass nonEstado" ></i></a></td>
                        {% endif %}
                        <td><a">{{teach.codigo}}</a></td>
                        <td>{{teach.apellidos}} {{teach.nombres}}</td>
                        {% if teach.is_active %}
                        <td><span class="estado"><i class="fa-regular fa-circle-check"></i>&nbsp;Activo</span></td>
                        {% else %}
                        <td><span class="nonEstado"><i class="fa-solid fa-circle-xmark"></i>&nbsp;Inactivo</span></td>
                        {% endif %}
                        <td>
                          <a  onclick="abrir_modal_general('{% url 'academico_app:detail-teacher' teach.pk %}')" title="Ver docente"><i  class="fa-regular fa-eye iconos"></i></a>
                          <a onclick="abrir_modal_general('{% url 'academico_app:update-teacher' teach.pk %}')" title="Editar"><i  class="fa-regular fa-pen-to-square iconos"></i></a>
        
                          {% if teach.estado == True and teach.is_active == True %}
                            <a  onclick="actulizar_eliminar('{% url 'academico_app:Habilit-teacher' teach.pk  %}', 'inhabilitar')" title="Inhabilitar"><i   class="fa-solid fa-user-xmark iconos"></i></a>
                          {% elif teach.estado == True and teach.is_active == False %}
                            <a onclick="actulizar_eliminar('{% url 'academico_app:Habilit-teacher' teach.pk  %}', 'habilitar')" title="Habilitar"><i   class="fa-solid fa-user-check iconos"></i></a>
                          
                          {% elif teach.estado == False and teach.is_active == True %}
                            <a onclick="actulizar_eliminar('{% url 'academico_app:Habilit-teacher' teach.pk  %}', 'inhabilitar')" title="Inhabilitar"><i   class="fa-solid fa-user-xmark iconos"></i></a>
                            <a onclick="actulizar_eliminar('{% url 'academico_app:delete-teacher' teach.pk %}', 'eliminar')" title="Eliminar"><i   class="fa-regular fa-trash-can iconos"></i></a>
                          {% else %}
                            <a onclick="actulizar_eliminar('{% url 'academico_app:Habilit-teacher' teach.pk  %}', 'habilitar')" title="Habilitar"><i   class="fa-solid fa-user-check iconos"></i></a>
                            <a onclick="actulizar_eliminar('{% url 'academico_app:delete-teacher' teach.pk %}', 'eliminar')" title="Eliminar"><i   class="fa-regular fa-trash-can iconos"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                {% endfor %}
                    
                  </table> 
                {% else %}
                <table id="table_id2"  class="hover" style="width:100%; ">
                  <thead >
                    <th>Código</th>
                    <th>Nombre del estudiante</th>
                    <th>Programa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td > - </td >
                      <td > - </td >
                      <td > - </td >
                      <td > - </td >
                      <td > - </td >
                    </tr>
                  </tbody>
                </table>   
                {% endif %}
              </div>
            </div>
          </div>
          </div>
        </div>
        
      </div>
    </div>


  </div>
</div>


<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
    
{% endblock extracontent %}


{% block js %}
<script type="text/javascript">
  function actulizar_eliminar(url, accion) {

    if (accion == "habilitar") {
      $("#edicion").load(url, function () {
        $(this).modal("show");
        document.getElementById("tittle").innerHTML  = "Desea habilitar a:";
        $('#accion').val(accion);
    
      });
    } else if (accion == "eliminar"){
      $("#edicion").load(url, function () {
        $(this).modal("show");
      });
    }else {
      $("#edicion").load(url, function () {
        $(this).modal("show");
        document.getElementById("tittle").innerHTML  = "Desea inhabilitar a:";
        $('#accion').val(accion);

    
      });
        
  
    }
  }

</script>

{% endblock js %}
















