{% extends "Base2.html" %} {% load static %} {% block extracontent %} {% if
messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message}}
  </li>
  {% endfor %}
</ul>
{% endif %} {% if programas %}
<div>
  <h5>{{programa.programa_name}}</h5>
  <h5>{{estudiante.nombre}} {{estudiante.apellidos}}</h5>
  <div>
    <label for="">El estudiante tiene asignado el pensum: {{pensum}}</label>
  </div>
  <div>
    <label for="">El estudiante tiene asignado el periodo: {{periodo}}</label>
  </div>
  <div>
    <label for="">Materias creadas para este pensum</label>
  </div>
  <div class="col-10" style="margin-top: 2em">
    <table class="table table-striped">
      <thead>
        <th>Seleccione</th>
        <th>Materia</th>
        <th>Docente</th>
        <th>Total Alumnos</th>
      </thead>
      <tbody>
        {% for i in programas %} {% if i.banner_set.count == 45 %}
        <tr>
          <td>i.banner_set.</td>
          <td>
            <input
              type="checkbox"
              id="materia"
              name="materia"
              value="{{i.id}}"
              disabled
            />
            Sin cupos
          </td>
          <td>{{i.materia}}</td>
          <td>{{i.docente}}</td>
          <td>{{i.banner_set.count}}</td>
        </tr>
        {% else %}
        <tr>
          <td>
            <input
              type="checkbox"
              id="materia"
              name="materia"
              value="{{i.id}}"
            />
          </td>
          <td>{{i.materia}}</td>
          <td>{{i.docente}}</td>
          <td>
            <div class="row">
              <div class="col-1">{{i.banner_set.count}}</div>
              <div class="col-2">
                <progress id="file" max="45" value="{{i.banner_set.count}}">
                  {{i.banner_set.count}}
                </progress>
              </div>
            </div>
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>

  <form action="{% url 'academico_app:asignacion' %}" method="post">
    {% csrf_token %}
    <input
      type="hidden"
      name="estudiante"
      id="estudiante"
      class="estudiante"
      value="{{estudiante.id}}"
    />
    <input
      type="hidden"
      name="carrera"
      id="carrera"
      class="carrera"
      value="{{estudiante.carrera.id}}"
    />
    <input type="hidden" name="concat" id="concat" class="concat" />
    <button type="submit">Registrar Materia</button>
  </form>
  <button><a href="{% url 'academico_app:list-student' %}"> Volver</a></button>
</div>

{% else %}

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">No se han creado materias para este periodo</div>
      <div class="modal-footer">
        <button><a href="javascript: history.go(-1)">Regresar</a></button>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock extracontent %} {% block js %}
<script type="text/javascript">
  $(document).ready(function () {
    var selected = "";
    $("input[type=checkbox]").on("change", function () {
      var arr = $('[name="materia"]:checked')
        .map(function () {
          return this.value;
        })
        .get();
      var str = arr.join(",");
      $("#concat").val(arr);
    });
  });
  $(document).ready(function () {
    $("#exampleModalCenter").modal({ backdrop: "static", keyboard: false });
  });
</script>
{% endblock js %}
