{% extends "Base2.html" %} 
{% load static %} 

{% block extracontent %} 
  {% if graduados %}
    <div class="col-10" style="margin-top: 2em">
      <table class="table table-striped">
        <thead>
          <th>Código</th>
          <th>Estudiante</th>
          <th>Programa</th>
          <th>Promedio</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          {% for i in graduados %}
          <tr>
            <td>
              <a href="{% url 'academico_app:notes' i.student_id %}"
                >{{i.student.codigo}}</a
              >
            </td>
            <td>{{i.student.apellidos}} {{i.student.nombre}}</td>
            <td>{{i.carrera.programa_name}}</td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button><a href="javascript: history.go(-1)"> Volver</a></button>
    </div>
  {% else %}
   <h5>No hay estudiantes graduados</h5>
  {% endif %} 
{% endblock extracontent %}
