{% extends "Base2.html" %}
{% load  static %}

{% block extracontent %}

<div class="container-fluid">
  <div class="row" style="height:90px; align-items: end; padding-left: 15px" >
    <h1 class="h1" id="tit">Docentes</h1>
  </div>
  <div class="row" style=" height:60px;">
    <nav class="nav">
      <a class="nav-link active"  id="tod"  aria-current="page" href="?order=todos">Todos</a>
      <a class="nav-link active"  id="acti" aria-current="page" href="?order=activos">Activos</a>
      <a class="nav-link active"  id="ina" aria-current="page" href="?order=inactivos">Inactivos</a>
    </nav>
  </div>
</div>

    <div class="grid-x grid-margin-x">
        <div>
          <button><a href="{% url 'academico_app:create-student'%}">crear</a>
          </button>
        </div>
        <div>
          
          <p>Acciones Masivas</p>
          <button><a href="{% url 'academico_app:list-top-asignar'%}">Crear Estudiantes</a></button>
          <button><a href="{% url 'academico_app:list-top-graduado'%}">Graduar estudiantes</a></button>
          {% if masivo > 0 %}
          <button><a  class="dropdown-item" href="{% url 'academico_app:list-student-cargue'%}" ><i class="fas fa-circle" style="color: red;"></i></a></button>
          {% else %}
          <button><a  class="dropdown-item" href="#" ><i class="fas fa-circle" style="color: green;"></i></a></button>
          {% endif %}
          
          
        </div>
        <div class='col-10' style="margin-top: 2em;">
          
          {% if student %}
          <table class="table table-striped">
            <thead>
              <th>Código </th>
              <th>Nombre del estudiante</th>
              <th>Programa</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              {% for estudiante in student %}
                <tr>
                  <td ><a href="{% url 'academico_app:notes' estudiante.pk %}">{{estudiante.codigo}}</a></td>
                  <td>{{estudiante.apellidos}} {{estudiante.nombre}}</td>
                  <td>{{estudiante.carrera}}</td>
                  
                  
                  {% if estudiante.is_active %}
                  <td>
                    <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        click
                      </a> 
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" ><button  onclick="abrir_modal_edicion('{% url 'academico_app:detail-student' estudiante.pk  %}')" class="btn btn-success btn-sm" title="Ver"  data-toggle="tooltip" data-placement="top"><i class="far fa-eye"></i></button></a>
                        <a class="dropdown-item" href="{% url 'academico_app:update-student' estudiante.pk %}" >editar</a>
                        <a class="dropdown-item" href="{% url 'academico_app:delete-student' estudiante.pk %}" >eliminar</a>
                        {% if estudiante.is_matriculado  %} 
                        <a  class="dropdown-item" href="#" ><i class="fas fa-circle" style="color: green;"></i></a>
                        <a class="dropdown-item"href="{% url 'academico_app:agre-more' estudiante.pk %}" >add +</a>
                        {% else %}
                        <a  class="dropdown-item" href="{% url 'academico_app:list-periodos-asignar' estudiante.pk  %}" ><i class="fas fa-circle" style="color: red;"></i></a>
                        {% endif %}
                        
                      </div>
                    </div>

                  </td>
                  
                  {% else %}
                  <td>
                    <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       click
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"><button  onclick="abrir_modal_edicion('{% url 'academico_app:detail-student' estudiante.pk  %}')" class="btn btn-success btn-sm" title="Ver"  data-toggle="tooltip" data-placement="top"><i class="far fa-eye"></i></button></a>
                        {% if estudiante.is_graduado %}
                        <a class="dropdown-item" href="#"><i class="fas fa-graduation-cap"></i></a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'academico_app:estate-student' estudiante.pk  %}" >inhabilitado</a>
                        {% endif %}
                      </div>
                    </div>
                    
                  </td>
                  {% endif %} 
                    
              </tr>
                
              {% endfor %}
            </tbody>
          </table>

          {% else %}
             <p>No hay estudiantes para mostrar</p>
              
          {% endif %}
              
          
        </div>
        <div class="cell">
            
          {% if is_paginated %}
          <nav aria-label="Pagination">
              <ul class="pagination">
                
                {% if page_obj.has_previous %}
                  <li class="pagination-previous">
                     <a href="?page={{page_obj.previous_page_number}}">Atrás</a>
                  </li>   
                {% endif %}
                
                {% for pagina in paginator.page_range  %}
    
                
                {% if pagina == page_obj.number  %} 
                <li class="current"><span class="show-for-sr">You're on page</span>{{ pagina }}</li> 
                {% else %}
                <li><a href="?page={{pagina}}">{{ pagina }}</a></li>   
                {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}     
                <li class="pagination-next">
                    <a href="?page={{page_obj.next_page_number}}">siguiente</a>
                  </li>
                {% endif %}
              </ul>
          </nav>
              
          {% endif %}
                
            

        </div>
    </div>
  <div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

  </div>
{% endblock extracontent %}

{% block js %}
<script>
  var $=jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $('#edicion').load(url, function(){
        $(this).modal('show');
    });
  }
</script>
{% endblock js %}