{% extends "Base2.html" %} 
{% load static %} 
{% block title %}Calificaciones | Portal CNE{% endblock title %}
{% block extracontent %}

<div class="container-fluid">
  <div class="row" style=" padding-left: 15px" >
    <h1 class="h3" id="tit"> <i class="fa-solid fa-school-circle-check"></i> Calificaciones</h1>
  </div>
</div>

<div class="container-fluid">
  {% if notas %} 
  {% for j in student %}
  <div id="submenu" style=" height:120px; width:100%; padding: 15px; display: flex">
    <div >
      <div style="display: flex" ><h1 class="h5" id="tit">Nombre del estudiante:</h1><h5>&nbsp;{{j.apellidos}} {{j.nombre}}</h5></div>
      <div style="display: flex" ><h1 class="h5" id="tit">Código:</h1><h5>&nbsp;{{j.codigo}}</h5></div>
      <div style="display: flex" ><h1 class="h5" id="tit">Programa:</h1><h5>&nbsp;{{j.carrera}}</h5></div> 
    </div>
    </div>
    
  </div>
  {% endfor %}
  {% endif %}
  
</div>

<div class="container-fluid" style="">
  <div  class="row" >
    <div id="conte" style="height:auto; width: 100%; background: #FFFFFF; ">
      <div class="col" id="anadir">
        <div class="row" >
          <h1 class="h5" id="tit"> Progreso académico del estudiante:</h1>
        </div>
        <div class="row">
          <div style="display:flex" >
            <div class="progress" >
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progreso}}%">
              </div>
            </div>
            <div>
              &nbsp;
            </div>
            <div>
              <h1 class="h5" id="tit"> {{progreso}} % </h1>
            </div>
          </div >
        </div>
      </div>
      <div class="linea"></div>
      <div class ="tabla" style=" " >
        {% if notas %} 
          <table id="table_id3"  class="hover" style="width:100%; ">
            <thead>
              <th>Acciones</th>
              <th>Asignatura</th>
              <th>Corte 1</th>
              <th>Corte 2</th>
              <th>Corte 3</th>
              <th>Promedio</th>
              <th>Estado</th>
            </thead>
            <tbody>
              {% for i in notas %}
                <tr>
                  <td>
                    <button
                      onclick="abrir_modal_edicion('{% url 'academico_app:detail-topic' i.materia.id %}')"
                      class="btn btn-sm"
                      title="Ver"
                      data-toggle="tooltip"
                    >
                      <i id="iconos" style="padding-left: 0px" class="far fa-eye"></i>
                    </button>
                  </td>
                  <td>{{i.materia.materia.nombre_materia}} </td>
                  <td>{{i.corte1}}</td>
                  <td>{{i.corte2}}</td>
                  <td>{{i.corte3}}</td>
                  <td>{{i.promedio}}</td>
                  {% if i.promedio >= 3 %}
                  <td><span id="activo" style="width:100%"><i class="fa-regular fa-circle-check"></i> &nbsp; Aprobada</span></td>
                  {% elif i.promedio < 3 and i.promedio > 0 %}
                  <td><span id="inactivo"><i class="fa-solid fa-circle-xmark"></i> &nbsp; Reprobada</span></td>
                  {% elif i.promedio == 0 and not i.materia.is_active  %}
                  <td><span id="cursando"><i class="fa-solid fa-hourglass-half"></i> &nbsp; Sin calificación</span></td>
                  {% else %}
                  <td><span id="cursando"><i class="fa-solid fa-hourglass-half"></i> &nbsp; En curso</span></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table> 
        {% else %}
        <table id="table_id4"  class="hover" style="width:100%; ">
          <thead >
            <th>Acciones</th>
            <th>Asignatura</th>
            <th>Corte 1</th>
            <th>Corte 2</th>
            <th>Corte 3</th>
            <th>Promedio</th>
            <th>Estado</th>
          </thead>
          <tbody>
            <tr>
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
            </tr>
          </tbody>
        </table>   
        {% endif %}
      </div>
    </div>
  </div>
  </div>
</div>



<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


{% endblock extracontent %} 
{% block js %}
<script>
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $("#edicion").load(url, function () {
      $(this).modal("show");
    });
  }
</script>
{% endblock js %}
