{% extends "Base2.html" %} 
{% load static %} 
{% block title %}Calificaciones | Portal CNE{% endblock title %}
{% block extracontent %}

<div class="container-fluid ">
  
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2><i class="fa-solid fa-school-circle-check"></i> Calificaciones</span>
      </div>
  </div>

  {% if notas %} 
  {% for j in student %}
  <div class="datos">
    
    <div class="card bg-light mb-3 informationExtra" style="">
        <div class="container-fluid" style="">
          <div class="" style="">
            <div style="display: flex"  >
            
              <strong><p  class="card-title">Nombre del estudiante:</p></strong>
              <p class="card-text">&nbsp;{{j.apellidos}} {{j.nombre}}</p>
            
            </div>
            <div style="display: flex" >
            
              <strong><p  class="card-title">Código:</strong>
              <p class="card-text">&nbsp; {{j.codigo}}</p>

            </div>
            <div style="display: flex" >
            
              <strong><p  class="card-title">Programa:</strong>
              <p class="card-text">&nbsp; {{j.carrera}}</p>
            
            </div>

            <div style="display: flex" >
            
              <strong><p  class="card-title">Promedio general:</strong>
              <p class="card-text">&nbsp; {{promedio}}</p>
            
            </div>
            
          </div>
        </div>
        
    </div>
  </div>
  {% endfor %}
  {% endif %}



  <div class="card">
    <div class="card-header">
      
      <div class="container-fluid ">
        
        <div class="progreso-content"> <strong >Cumplimiento académico:</strong></div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progreso}}%">
            {{progreso}} %
          </div>
        </div>
        
      </div>
    </div>

    <div class="card-body">
      <div class="container-fluid" style="">
        <div  class="row">
          <div class="conte">
            <div class ="conteTabla">

              {% if notas %} 
                <table id="table_id3"  class="hover" style="width:100%; ">
                  <thead>
                    <th>Acciones</th>
                    <th>Asignatura</th>
                    <th>Corte 1</th>
                    <th>Corte 2</th>
                    <th>Corte 3</th>
                    <th>Promedio</th>
                    <th>Estado</th>
                  </thead>
                  <tbody>
                    {% for i in notas %}
                      <tr>
                        <td>
                          <a  onclick="abrir_modal_general('{% url 'academico_app:detail-topic' i.materia.id  %}')" title="Ver"><i  class="fa-regular fa-eye iconos"></i></a>
                          
                        </td>
                        <td>{{i.materia.materia.nombre_materia}} </td>
                        <td>{{i.corte1}}</td>
                        <td>{{i.corte2}}</td>
                        <td>{{i.corte3}}</td>
                        <td>{{i.promedio}}</td>
                        {% if i.promedio >= 3 %}
                        <td><span class="estado"><i class="fa-regular fa-circle-check "></i> &nbsp; Aprobada</span></td>
                        {% elif i.promedio < 3 and i.promedio > 0 %}
                        <td><span class="nonEstado"><i class="fa-solid fa-circle-xmark "></i> &nbsp; Reprobada</span></td>
                        {% elif i.promedio == 0 and not i.materia.is_active  %}
                        <td><span class="iconos"><i class="fa-solid fa-hourglass-half "></i> &nbsp; Sin calificación</span></td>
                        {% else %}
                        <td><span class="iconos"><i class="fa-solid fa-hourglass-half "></i> &nbsp; En curso</span></td>
                        {% endif %}
                      </tr>
                    {% endfor %} 
                  </tbody>
                </table> 
              {% else %}
              <table id="table_id4"  class="hover" style="width:100%; ">
                <thead >
                  <th>Acciones</th>
                  <th>Asignatura</th>
                  <th>Corte 1</th>
                  <th>Corte 2</th>
                  <th>Corte 3</th>
                  <th>Promedio</th>
                  <th>Estado</th>
                </thead>
                <tbody>
                  <tr>
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                  </tr>
                </tbody>
              </table>   
              {% endif %}
              
            </div>
          </div>
        </div>
        </div>
      </div>
      
    </div>
  </div>
    
  </div>

</div>

<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


{% endblock extracontent %} 
{% block js %}
<script>
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $("#edicion").load(url, function () {
      $(this).modal("show");
    });
  }
</script>
{% endblock js %}
