{% extends "Base2.html" %} 
{% load static %} 
{% block title %}Progresos | Portal CNE{% endblock title %}
{% block extracontent %}

<div class="container-fluid">
  <div class="row" style=" padding-left: 15px" >
    <h1 class="h3" id="tit"><i class="fa-solid fa-spinner"></i> Progresos estudiantiles</h1>
  </div>
</div>
{% if finaly %}
<div class="container-fluid" style="">
  <div  class="row" >
    <div id="conte" style="height:auto; width: 100%; background: #FFFFFF; ">
      <div class="col" id="anadir">
        <div class="row" >
          <h1 class="h5" id="tit"> Acciones globales:</h1>
        </div>
        <div class="row">
          <div style="display:flex" > 
            <div >
              <button  type="button" title="Graduar estudiante" id="mostrar" onclick="abrir_modal_edicion('{% url 'academico_app:list-top-a-graduar' %}')" class="btn btn-outline-primary">
                
                  <i class="fa-regular fa-rectangle-list fa-lg"></i>
              </button>
              <button  type="button" title="Generar informe" id="informe" onclick="generar()" class="btn btn-outline-primary">
                
                  <i class="fa-solid fa-laptop-file fa-lg"></i>
              </button>             
            </div >
          </div >
        </div>
      </div>
      <div class="linea"></div>
      <div class ="tabla" style=" " >
        {% if finaly %}
          <table id="table_id4"  class="hover" style="width:100%; ">
            <thead>
              <th>Seleccionar</th>
              <th>Código</th>
              <th>Estudiante</th>
              <th>Programa</th>
              <th>Indicador académico</th>
              <th>Indicador financiero</th>
            </thead>
            <tbody>
              {% for i in finaly %} 
              {% if i.indicador == 100 and i.financiero == 100 %}
              <tr>
                <td>
                  <span id="activo" style="width:100%"><input type="checkbox" id="materia" name="materia" value="{{i.pk}}"> &nbsp; Apto</span>
                </td>
                <td>{{i.codigo}}</td>
                <td>{{i.estudiante}}</td>
                <td>{{i.programa}}</td>
                <td >
                  <div >
                    <div class="progress" >
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{i.indicador}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i.indicador}}%">
                        <a id="barra" href="{% url 'academico_app:notes' i.pk %}">{{i.indicador}} %</a>
                        
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="progress" >
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{i.financiero}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i.financiero}}%">
                      <a id="barra" href="{% url 'finance_app:finance-list-invoice-detail' i.pk %}">{{i.financiero}} %</a>
                    </div>
                  </div>
                  
                </td>
              </tr>
              {% else %}
              <tr>
                <td><span id="inactivo"><i class="fa-solid fa-circle-xmark"></i> &nbsp; No apto</span></td></td>
                <td>{{i.codigo}}</td>
                <td>{{i.estudiante}}</td>
                <td>{{i.programa}}</td>
                <td>
                  <div >
                    <div class="progress" >
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{i.indicador}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i.indicador}}%">
                        <a id="barra" href="{% url 'academico_app:notes' i.pk %}">{{i.indicador}} %</a>
                        
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="progress" >
                    <div  id="uno" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{i.financiero}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i.financiero}}%">
                      <a id="barra" href="{% url 'finance_app:finance-list-invoice-detail' i.pk %}">{{i.financiero}} %</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endif %} 
              {% endfor %}
            </tbody>
          </table> 
        {% else %}
        <table id="table_id4"  class="hover" style="width:100%; ">
          <thead >
            <th>Seleccionar</th>
            <th>Código</th>
            <th>Estudiante</th>
            <th>Programa</th>
            <th>Indicador académico</th>
            <th>Indicador financiero</th>
          </thead>
          <tbody>
            <tr>
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
              <td > - </td >
            </tr>
          </tbody>
        </table>   
        {% endif %}
      </div>
    </div>
  </div>
  </div>
</div>



<div class="col-10" style="margin-top: 2em">
  
  <div
    class="modal fade"
    id="edicion"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    
  </div>

  <div
    class="modal fade"
    id="edicion-no"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa-regular fa-file" id="iconos" style="padding-left: 9px"></i> Parámetros de grado</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> <h6 id="inactivo"><i class="fa-solid fa-circle-exclamation fa-beat"></i> Selecciona al menos 1 estudiante <h4></div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="edicion-informe"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa-regular fa-file" id="iconos" style="padding-left: 9px"></i> Parámetros del informe</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table id="table_idinf"  class="hover" style="width:100%; ">
              <thead>
                <th ><input type="checkbox"> Código</th>
                <th >Estudiante</th>
              </thead>
              <tbody>
                {% for i in finaly %}
                <tr>
                  <td ><span ><input type="checkbox"  value="{{i.pk}}"></span> {{i.codigo}}</td>
                  <td>{{i.estudiante}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          <div class="linea"></div>
        <div style="padding-top: 15px">
          <form  method="POST" id="dataGeneralForm" action="{% url 'academico_app:list-top-a-graduar' %}" >{% csrf_token %}
            
            <div>
              <label  id="informe1" for="informe1">Seleccione el tipo de informe:</label>
              <select class="form-control" name="informe12" id="informe12">
                <option disabled selected value> -- seleccione una opción  -- </option>
                <option value="1">Académico</option>
                <option value="2">Financiero</option>
              </select>
            </div>
            <h3 id="cantChulos"> </h3>
            <input type="hidden" name="concat2" id="concat2" class="concat2" />
            <div class="modal-footer" >
            <button type="button" id="button" style="background-color: #405FC9; color: white; border: none" onclick="SendDataInform()" >Generar informe</button>
            <button type="button" class="btn btn-danger"  id="button" data-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>

  
</div>
{% else %}


<div
  class="modal fade"
  id="edicion-no-m"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa-regular fa-file" id="iconos" style="padding-left: 9px"></i> Parámetros de grado</h5>
        <button>
          <a href="{% url 'academico_app:list-student' %}">
            <span aria-hidden="true">&times;</span></a
          >
        </button>
      </div>
      <div class="modal-body"><h6 id="inactivo"><i class="fa-solid fa-circle-exclamation fa-beat"></i> No tenemos estudiantes con progreso</h6></div>
    </div>
  </div>
</div>

{% endif %}


{% endblock extracontent %} 



{% block js %}
<script type="text/javascript">

  var $=jQuery.noConflict();

  function SendDataInform() {
    var serializedData = $("#dataGeneralForm").serialize();
    var informe1Datos = document.getElementById("informe12");
    var checkboxes = $('#table_idinf tbody input[type="checkbox"]');
    var cont = 0;

    for (var x=0; x < checkboxes.length; x++) {
      if (checkboxes[x].checked) {
        cont = cont + 1;
      }
    }

    
    if (cont == 0 || informe1Datos.value == "" ) {

      if (cont == 0 ) {
      
        Swal.fire({
          "title": "Aún falta algo",
          "text": "Por favor verifique que haya seleccionado por lo menos 1 estudiante",
          "icon": "error"
        })
      }
      else{
      
        Swal.fire({
          "title": "Aún falta algo",
          "text": "Seleccione el tipo de informe",
          "icon": "error"
        })
      }
    }
    else{
      var request = $.ajax({
        type: 'POST',
        url: "{% url 'finance_app:download-report' %}",
        data: serializedData,
        success: function (response) {
          $("#edicion-informe").modal("hide");
          location.reload(true);
          mostrarOkpayments();
        },
        error: function (error) {
          mostrarErroresCreacion2(error);
          mostrarError();
        }
      });
    }
     
  }

  function abrir_modal_edicion(url) {
    var arr = $('[name="materia"]:checked').map(function () {
      return this.value;
    }).get();
    if (arr != "") {
      $('#edicion').load(url, function(){
        $(this).modal('show');
        var str = arr.join(",");
        $("#concat").val(arr);
      });
    } else {
      $("#edicion-no").modal("show");
    }
    
  }

  $(document).ready(function () {
    if ($("#materia").length) {
      $("#mostrar").prop("disabled", false);
    } else {
      $("#mostrar").prop("disabled", true);
    }
  });

  $(document).ready(function () {
    $("#edicion-no-m").modal({ backdrop: "static", keyboard: false });
  });

  function generar() {
    $('#edicion-informe').modal("show");
  }

  $(document).ready(function () {

    $('#table_idinf thead input[type="checkbox"]').change(function() {
      var checkboxes = $('#table_idinf tbody input[type="checkbox"]');
      var texto = document.getElementById('informe1');
      
      if ($(this).is(':checked')) {
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = true;
        }
        var checkboxesSelect = $('#table_idinf tbody input[type="checkbox"]:checked');
        var text = i.toString();
        var arr = checkboxesSelect.map(function () {
          return this.value;
        }).get();
        var str = arr.join(",");
        $("#concat2").val(arr);
        texto.innerHTML = 'Seleccione el tipo de informe para los ' + text + ' estudiantes:';
      }
      else {
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = false;
        }
        $("#concat2").val("");
        texto.innerHTML = 'Seleccione el tipo de informe:';
      } 
         
  }); 


    $('#table_idinf tbody input[type="checkbox"]').click(function() {
      var checkboxesTodos = $('#table_idinf thead input[type="checkbox"]');
      var checkboxes = $('#table_idinf tbody input[type="checkbox"]');
      var texto = document.getElementById('informe1');
      var cont = 0;
      var checkboxesSelect = $('#table_idinf tbody input[type="checkbox"]:checked'); 
      var arr = checkboxesSelect.map(function () {
        return this.value;
      }).get();
      var str = arr.join(",");
      $("#concat2").val(arr);

      
      checkboxesTodos.prop("checked", false) ;
      for (var x=0; x < checkboxes.length; x++) {
      if (checkboxes[x].checked) {
        cont = cont + 1;
      }
      }
      if (cont > 1) {
        var text = cont.toString();
        texto.innerHTML = 'Seleccione el tipo de informe para los ' + text + ' estudiantes:';
      }else if (cont == 1) {
        var text = cont.toString();
        texto.innerHTML = 'Seleccione el tipo de informe para este estudiante:';
      }else{
        var text = cont.toString();
        texto.innerHTML = 'Seleccione el tipo de informe:';
      }   
  });
});

</script>
{% endblock js %}
