{% load static %} {% block extracontent %}


<div class="modal-dialog modal-xl" role="document" >
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><i id="iconos" style="padding-left: 3px" class="fa-regular fa-pen-to-square"></i> Actualización docente</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form  method="POST" id="dataGeneralForm" action="{% url 'academico_app:update-student' object.pk %}">{% csrf_token %}
        <div id="errores" ></div>      
        {{form.as_p}}
        <div class="modal-footer">
        <button type="submit" class="alert button">Actualizar</button>
        <button type="button" class="btn btn-danger"   data-dismiss="modal">Cerrar</button>
        </div>
       </form>
    </div> 
  </div>
</div>

{% endblock extracontent %} {% block js %}

<script type="text/javascript">
  $(document).ready(function () {
    $("#cedula").prop("readonly", true);
    $("#carrera").hide();
    $("#masivo").hide();
    $('label[for="carrera"]').hide();
    $('label[for="masivo"]').hide();
    var estadoId = $("#carrera").val();
    if ($("#masivo").prop("checked")) {
      $("#id_pensum_asig").html("");
      var request = $.ajax({
        type: "GET",
        url: "{% url 'academico_app:update-pensum' %}",
        data: {
          estado_id: estadoId,
        },
        success: function (response) {
          $("#id_pensum_asig").html(response.malla);
        },
      });
      request.done(function (response) {
        // Agregamos los resultados al select id_periodo_matriculado
        $("#id_pensum_asig").html(response.malla);
      });
    }
  });
</script>
{% endblock js %}
